@import './reset.css';

@tailwind utilities;
@tailwind base;
@tailwind components;

@layer base {
  :root {
    --rgb-light-primary: 133 133 204; /*#8585CC */
    --rgb-light-primary-focus: 85 85 132; /*#555584 */
    --rgb-light-primary-content: 242 242 255; /*#F2F2FF */
    --rgb-light-secondary: 247 240 217; /*#F7F0D9 */
    --rgb-light-secondary-focus: 199 194 175; /*#C7C2AF */
    --rgb-light-secondary-content: 66 60 43; /*#423C2B */
    --rgb-light-accent: 117 213 108; /*#75D56C */
    --rgb-light-accent-focus: 82 151 75; /*#52974B */
    --rgb-light-accent-content: 234 255 230; /*#EAFFE6 */
    --rgb-light-neutral: 236 239 241; /*#ECEFF1 */
    --rgb-light-neutral-focus: 207 210 212; /*#CFD2D4 */
    --rgb-light-neutral-content: 51 51 51; /*#333333 */
    --rgb-light-base: 255 255 255; /*#FFFFFF */
    --rgb-light-base-content: 0 0 0; /*#000000 */
    --rgb-light-info: 128 179 238; /*#80B3EE */
    --rgb-light-success: 102 187 106; /*#66BB6A */
    --rgb-light-warning: 255 193 7; /*#FFC107 */
    --rgb-light-error: 220 38 38; /*#DC2626 */
  }

  [data-theme='gs-light'] {
    --primary:  rgb(var(--rgb-light-primary));
    --primary-focus: rgb(var(--rgb-light-primary-focus));
    --primary-content: rgb(var(--rgb-light-primary-content));
    --secondary: rgb(var(--rgb-light-secondary));
    --secondary-focus: rgb(var(--rgb-light-secondary-focus));
    --secondary-content: rgb(var(--rgb-light-secondary-content));
    --accent: rgb(var(--rgb-light-accent));
    --accent-focus: rgb(var(--rgb-light-accent-focus));
    --accent-content: rgb(var(--rgb-light-accent-content));
    --neutral: rgb(var(--rgb-light-neutral));
    --neutral-focus: rgb(var(--rgb-light-neutral-focus));
    --neutral-content: rgb(var(--rgb-light-neutral-content));
    --base: rgb(var(--rgb-light-base));
    --base-content: rgb(var(--rgb-light-base-content));
    --info: rgb(var(--rgb-light-info));
    --success: rgb(var(--rgb-light-success));
    --warning: rgb(var(--rgb-light-warning));
    --error: rgb(var(--rgb-light-error))
  }

  [data-theme='gs-dark'] {
    --rgb-dark-primary: 7 3 64; /*#070340 */
    --rgb-dark-primary-focus: 4 2 40; /*#040228 */
    --rgb-dark-primary-content: 242 242 255; /*#F2F2FF */
    --rgb-dark-secondary: 227 250 219; /*#E3FADB */
    --rgb-dark-secondary-focus: 255 255 255; /*#FFFFFF */
    --rgb-dark-secondary-content: 177 177 177; /*#B1B1B1 */
    --rgb-dark-accent: 117 213 108; /*#75D56C */
    --rgb-dark-accent-focus: 0 128 0; /*#008000 */
    --rgb-dark-accent-content: 13 57 27; /*#0D391B */
    --rgb-dark-neutral: 236 239 241; /*#ECEFF1 */
    --rgb-dark-neutral-focus: 207 210 212; /*#CFD2D4 */
    --rgb-dark-neutral-content: 51 51 51; /*#333333 */
    --rgb-dark-base: 0 0 0; /*#000000 */
    --rgb-dark-base-content: 255 255 255; /*#FFFFFF */
    --rgb-dark-info: 0 64 255; /*#0040FF */
    --rgb-dark-success: 34 131 27; /*#22831B */
    --rgb-dark-warning: 255 128 0; /*#FF8000 */
    --rgb-dark-error: 163 15 15; /*#A30F0F */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary: rgb(var(--rgb-dark-primary));
      --primary-focus: rgb(var(--rgb-dark-primary-focus));
      --primary-content: rgb(var(--rgb-dark-primary-content));
      --secondary: rgb(var(--rgb-dark-secondary));
      --secondary-focus: rgb(var(--rgb-dark-secondary-focus));
      --secondary-content: rgb(var(--rgb-dark-secondary-content));
      --accent: rgb(var(--rgb-dark-accent));
      --accent-focus: rgb(var(--rgb-dark-accent-focus));
      --accent-content: rgb(var(--rgb-dark-accent-content));
      --neutral: rgb(var(--rgb-dark-neutral));
      --neutral-focus: rgb(var(--rgb-dark-neutral-focus));
      --neutral-content: rgb(var(--rgb-dark-neutral-content));

      --base-content: rgb(var(--rgb-dark-base-content));
      --info: rgb(var(--rgb-dark-info));
      --success: rgb(var(--rgb-dark-success));
      --warning: rgb(var(--rgb-dark-warning));
      --error: rgb(var(--rgb-dark-error));
    }
  }
  /* Golden Ratio Scale from: */
  /* https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.618&maxFontSize=19&maxWidth=1280&maxRatio=1.618&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl&baseStep=base&prefix=text&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280 */

  h1 {
    font-size: clamp(4.77rem, 3vw, 8.88rem);
  }
  h2 {
    font-size: clamp(3.81rem, 2vw, 6.66rem);
  }
  h3 {
    font-size: clamp(3.05rem, 1.5vw, 5rem);
  }
  h4 {
    font-size: clamp(2.44rem, 1.25vw, 3.75rem);
  }
  h5 {
    font-size: clamp(1.95rem, 1vw, 2.81rem);
  }
  p {
    font-size: clamp(0.9rem, 1vw, 1.19rem);
  }
  small {
    font-size: clamp(0.65rem, 0.65vw, 0.72rem);
  }
}
