@import './reset.css';

@tailwind utilities;
@tailwind base;
@tailwind components;

@layer base {

  /* Golden Ratio Scale from: */
  /* https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.618&maxFontSize=19&maxWidth=1280&maxRatio=1.618&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl&baseStep=base&prefix=text&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280 */
  :root {
    --pf: 47.02 0.075 283.11;
    --sf: 81.29 0.027 94.79;
    --af: 61.24 0.13 141.96;
    --nf: 86.2 0.004 236.51;

  }

  :root:has([data-theme='dark']) {
    --pf: 13.9 0.078 273.78;
    --sf: 100 0 0;
    --af: 51.98 0.177 142.495;
    --nf: 86.2 0.004 236.51;
    margin-top: 200px
  }

  h1 {
    font-size: clamp(4.77rem, 3vw, 8.88rem);
  }
  h2 {
    font-size: clamp(3.81rem, 2vw, 6.66rem);
  }
  h3 {
    font-size: clamp(3.05rem, 1.5vw, 5rem);
  }
  h4 {
    font-size: clamp(2.44rem, 1.25vw, 3.75rem);
  }
  h5 {
    font-size: clamp(1.95rem, 1vw, 2.81rem);
  }
  p {
    font-size: clamp(0.9rem, 1vw, 1.19rem);
  }
  small {
    font-size: clamp(0.65rem, 0.65vw, 0.72rem);
  }

}
