@import './reset.css';

@tailwind utilities;
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Geist";
  src: url("/assets/fonts/geist/GeistVariableVF.woff2") format("woff2");
  font-weight: 100 1000;
}

@layer utilities {
  .initial {
    animation: slideUpAndFade forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

  }

  .secondary {
    animation: slideLeftAndFade forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .sticky-section {
    position: sticky;
    top: 4rem;
    height: 96vh;
  }

  .scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100dvh;
    /* scroll-padding-top: 4rem; */
  }

  .scroll-container .scroll-child {
    scroll-snap-align: start;
    height: 100dvh;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer base {

  :root {
    --animation-delay: 200ms;
    --animation-duration: 600ms;

    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  }

  /* :root:has([data-theme='dark']) {} */

  a:not(.unset):is(:hover, :focus, :focus-within) {
    background-color: oklch(var(--a));
    border-radius: 0.25rem;
  }

  * {
    min-width: 0;
    transition: background-color var(--animation-duration) ease-in-out,
      color var(--animation-duration) ease-in-out,
      border-color var(--animation-duration) ease-in-out,
      box-shadow var(--animation-duration) ease-in-out;
  }

  section {
    min-height: 80dvh;
    margin: 6rem 0;
    scroll-margin-top:6rem;
  }



  /* Golden Ratio Scale from: */
  /* https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.618&maxFontSize=19&maxWidth=1280&maxRatio=1.618&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl&baseStep=base&prefix=text&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280 */

  h1:not(.unset) {
    font-size: clamp(4.77rem, 3vw, 8.88rem);
  }
  h2:not(.unset) {
    font-size: clamp(3.81rem, 2vw, 6.66rem);
  }
  h3:not(.unset) {
    font-size: clamp(3.05rem, 1.5vw, 5rem);
  }
  h4:not(.unset) {
    font-size: clamp(2.44rem, 1.25vw, 3.75rem);
  }
  h5:not(.unset) {
    font-size: clamp(1.95rem, 1vw, 2.81rem);
  }
  p:not(.unset) {
    font-size: clamp(0.9rem, 1vw, 1rem);
  }
  span:not(.unset) {
    font-size: clamp(0.9rem, 1vw, 1.19rem);
  }
  caption {
    font-size: clamp(0.9rem, 1vw, 1rem);
  }
  small {
    font-size: clamp(0.65rem, 0.65vw, 0.72rem);
  }


  /* @SEE: https://css-tricks.com/animating-number-counters/ */
  /* Used by Hero.astro  */
  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 12;
    }
  }

}
