---
import Layout from "../layouts/Layout.astro";
---

<div title='arg' class='relative'>
  <main class='flex w-full h-full border-4 items-stretch'></main>
</div>

<style>
  main {
    width: 100vw;
    height: 100vh;

    mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
    border: 5px solid red;
  }
</style>
