---
import Layout from "../layouts/Layout.astro";
---

<Layout
  metadata={{
    title:
      "Gaurang Shah - Freelance Developer | Technology Consultant | Full-Stack Engineer",
  }}
>
  <main class='flex flex-col items-center gap-y-24'>
    <section>
      <p>Hey, I'm...</p>
      <h2>Gaurang Shah</h2>
      <p>
        I'm a freelance developer, technology consultant, and full-stack
        engineer. I'm currently working on a few projects, including{" "}
        <a href='https://www.astro.build'>Astro</a>, a new way to build websites
        using JavaScript and the Jamstack.
      </p>
      <p>
        I'm passionate about building products that make developers' lives
        easier. I'm also passionate about building communities and helping
        others. I'm a big believer in the power of open source and the Jamstack.
      </p>
      <p>
        I'm currently available for freelance work. If you'd like to work
        together, please{" "}
        <a href='mailto:gaurang.r.shah@gmaill.com'>get in touch</a>.
      </p>

      <h2>Projects</h2>
      <p>
        I'm currently working on a few projects, including{" "}
        <a href='https://www.astro.build'>Astro</a>, a new way to build websites
        using JavaScript and the Jamstack.
      </p>
    </section>
  </main>

  <style>
    main {
      position: relative;
      margin: 0 auto;
      padding: 0rem 0rem;
      width: 100dvw;
      max-width: 64rem;
      max-height: 96dvh;
      font-size: 20px;
      line-height: 1.6;
      padding-bottom: 32rem;
    }
  </style>
</Layout>
