---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import DevIcons from "../components/DevIcons.astro";
import Info from "../components/Info.astro";
import Footer from "../components/Footer.astro";
import ForHire from "../components/ForHire.astro";

let search = Astro.url.searchParams.get("info");
---

<Layout title='Gaurang Shah - Developer | Designer | Consultant'>
  <main>
    <Hero />
    <div class='relative flex items-center h-full'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 464 135'
        class='absolute fill-primary/30'
      >
        <path
          d='M0 0s122.122 37.241 232 37.241S464 0 464 0v67.5H0V0Zm464 135S341.878 97.759 232 97.759 0 135 0 135V67.5h464V135Z'
        ></path>
      </svg>
      <DevIcons />
    </div>
    <ForHire />
    <Info />
  </main>

  <Footer />
</Layout>

<style>
  main {
    position: relative;
    margin: auto;
    padding: 0rem 0rem;
    width: 100dvw;
    max-height: 80dvh;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 32rem;
  }
</style>

<!-- <script>
  (() => {
    // create eventlistener that runs on page load and returns the url query string
    const url = new URL(window.location.href);
    const search = url.searchParams.get("info");
    console.log(search);
  })();
</script> -->
