---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import DevIcons from "../components/DevIcons.astro";
import Info from "../components/Info.astro";
import Footer from "../components/Footer.astro";

let search = Astro.url.searchParams.get("info");
---

<Layout title='Gaurang Shah - Developer | Designer | Consultant'>
  <main>
    <Hero />
    <div class='relative'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 418' fill='none'
        ><path
          class='fill-primary/30'
          d='M0 0s379 115.31 720 115.31S1440 0 1440 0v209H0V0ZM1440 418s-379-115.31-720-115.31S0 418 0 418V209h1440v209Z'
        ></path></svg
      >
      <DevIcons />
    </div>
    <Info />
  </main>

  <Footer />
</Layout>

<style>
  main {
    position: relative;
    margin: auto;
    padding: 6rem 0rem;
    width: 100dvw;
    max-height: 80dvh;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 32rem;
  }
</style>

<!-- <script>
  (() => {
    // create eventlistener that runs on page load and returns the url query string
    const url = new URL(window.location.href);
    const search = url.searchParams.get("info");
    console.log(search);
  })();
</script> -->
