---
import Hero from "../components/Hero.astro";
import Info from "../components/Info.astro";
import Layout from "../layouts/Layout.astro";
// import "../styles/globals.css";
---

<Layout>
  <div class='relative text-white'>
    <div class='flex justify-center items-center'>
      <Hero />
    </div>
    <div class='flex justify-center items-center bg-primary'>
      <Info />
    </div>

    <div class='scroll-container'>
      <div class='scroll-child flex justify-center items-center bg-blue-500'>
        <h2 class='text-4xl'>3</h2>
      </div>
      <div class='scroll-child flex justify-center items-center bg-green-500'>
        <h2 class='text-4xl'>4</h2>
      </div>
      <div class='scroll-child flex justify-center items-center bg-orange-500'>
        <h2 class='text-4xl'>5</h2>
      </div>
    </div>
  </div>
</Layout>
