<section
  id='contact'
  class='w-full max-w-4xl mx-auto mt-32 mb-64 text-base-content'
>
  <form class='flex w-full justify-between'>
    <div class='w-1/4 border-b border-gray-900/10'>
      <h2 class='text-base font-semibold leading-7'>Reach Out Today</h2>
      <p class='mt-1 text-sm leading-6 text-gray-600'>
        Use a permanent address where you can receive mail.
      </p>
    </div>
    <div class='w-3/4 border-b border-gray-900/10 pb-12'>
      <div class='mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6'>
        <div class='sm:col-span-3'>
          <label
            for='first-name'
            class='block text-sm font-medium leading-6 text-base-content'
            >First name</label
          >
          <div class='mt-2'>
            <input
              type='text'
              name='first-name'
              id='first-name'
              autocomplete='given-name'
              class='block w-full rounded-md border-0 py-1.5 text-base-content shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'
            />
          </div>
        </div>

        <div class='sm:col-span-3'>
          <label
            for='last-name'
            class='block text-sm font-medium leading-6 text-base-content'
            >Last name</label
          >
          <div class='mt-2'>
            <input
              type='text'
              name='last-name'
              id='last-name'
              autocomplete='family-name'
              class='block w-full rounded-md border-0 py-1.5 text-base-content shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'
            />
          </div>
        </div>

        <div class='sm:col-span-4'>
          <label
            for='email'
            class='block text-sm font-medium leading-6 text-base-content'
            >Email address</label
          >
          <div class='mt-2'>
            <input
              id='email'
              name='email'
              type='email'
              autocomplete='email'
              class='block w-full rounded-md border-0 py-1.5 text-base-content shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'
            />
          </div>
        </div>

        <div class='sm:col-span-4'>
          <label
            for='message'
            class='block text-sm font-medium leading-6 text-base-content'
            >Message</label
          >
          <div class='mt-2'>
            <textarea
              id='message'
              name='message'
              class='block w-full rounded-md border-0 py-1.5 text-base-content shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'
            ></textarea>
          </div>
        </div>
      </div>
      <div class='flex flex-row justify-end mt-12'>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </div>
    </div>
  </form>
</section>
