<div class='relative'>
  <section
    id='contact'
    class='relative w-full max-w-4xl mx-auto mt-32 mb-64 text-base-content px-6'
  >
    <div class='flex flex-col items-center justify-center mb-24'>
      <h3 class='text-5xl font-bold text-base-content leading-loose'>
        Reach Out Today
      </h3>
      <p class='text-sm'>
        Tell me a bit about your project and let's get to work!
      </p>
    </div>

    <form id='contact-form' class='flex w-full justify-between'>
      <div class='w-3/4 border-b border-gray-900/10 pb-12 mx-auto'>
        <div class='mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6'>
          <div class='sm:col-span-3'>
            <label
              for='first-name'
              class='block text-sm font-medium leading-6 text-base-content'
              >First name</label
            >
            <div class='mt-2'>
              <input
                type='text'
                name='first-name'
                id='first-name'
                autocomplete='given-name'
                class='block w-full rounded-md border-0 py-1.5 text-base-content shadow-sm ring-1 ring-inset ring-primary placeholder:text-base-content focus:ring-2 focus:ring-inset focus:ring-base-300 sm:text-sm sm:leading-6 bg-base-100/20'
              />
            </div>
          </div>

          <div class='sm:col-span-3'>
            <label
              for='last-name'
              class='block text-sm font-medium leading-6 text-base-content'
              >Last name</label
            >
            <div class='mt-2'>
              <input
                type='text'
                name='last-name'
                id='last-name'
                autocomplete='family-name'
                class='block w-full rounded-md border-0 py-1.5 text-base-content shadow-sm ring-1 ring-inset ring-primary placeholder:text-base-content focus:ring-2 focus:ring-inset focus:ring-base-300 sm:text-sm sm:leading-6 bg-base-100/20'
              />
            </div>
          </div>

          <div class='sm:col-span-6'>
            <label
              for='email'
              class='block text-sm font-medium leading-6 text-base-content'
              >Email address</label
            >
            <div class='mt-2'>
              <input
                id='email'
                name='email'
                type='email'
                autocomplete='email'
                class='block w-full rounded-md border-0 py-1.5 text-base-content shadow-sm ring-1 ring-inset ring-primary placeholder:text-base-content focus:ring-2 focus:ring-inset focus:ring-base-300 sm:text-sm sm:leading-6 bg-base-100/20'
              />
            </div>
          </div>

          <div class='sm:col-span-6'>
            <label
              for='message'
              class='block text-sm font-medium leading-6 text-base-content'
              >Message</label
            >
            <div class='mt-2'>
              <textarea
                id='message'
                name='message'
                rows={5}
                class='block w-full rounded-md border-0 py-1.5 text-base-content shadow-sm ring-1 ring-inset ring-primary placeholder:text-base-content focus:ring-2 focus:ring-inset focus:ring-base-300 sm:text-sm sm:leading-6 bg-base-100/20 p-2'
              ></textarea>
            </div>
          </div>
        </div>
        <div class='flex flex-row justify-end mt-12'>
          <button type='submit' class='btn btn-accent'>Submit</button>
        </div>
      </div>
    </form>
  </section>
</div>

<script>
  import { showToast } from "../utils/show-toast";

  const form = document.getElementById("contact-form") as HTMLFormElement;

  form?.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(form);
    console.log("🚀 | file: Contact.astro:101 | formData:", ...formData);

    // Access form data
    const firstName = formData.get("first-name");
    const lastName = formData.get("last-name");
    const email = formData.get("email");
    const message = formData.get("message");

    const response = await fetch("/api/send-email", {
      headers: {
        "Content-Type": "application/json",
      },
      method: "POST",
      body: JSON.stringify({
        name: `${firstName} ${lastName}`,
        email,
        message,
      }),
    });

    if (!response.ok) {
      // handle error
      showToast({
        content: "Something went wrong. Please try again later.",
      });
      return;
    }

    // Clear form fields
    form.reset();

    showToast({
      content: "Message sent! We'll be in touch shortly.",
    });
    // ...
  });
</script>
