---
import { Image } from "astro:assets";
import avatar from "../assets/personwbgcircle.svg";

const yrsWorking = 12;
const expertise = "Web & Mobile UI";
const delay1 = 2.5;
---

<div class='relative w-full max-w-4xl mx-auto my-24'>
  <section class='bg-grid'>
    <div
      id='hero'
      class='w-full h-full text-center flex flex-1 flex-col justify-center items-center'
    >
      <h2
        class='font-bold leading-tight text-4xl text-base-content animate-slideUpAndFade initial'
      >
        Gaurang Shah
      </h2>
      <span class='text-lg text-accent font-bold animate-fadeIn secondary'
        >Full Stack Developer</span
      >
      <div
        class='w-full2020
          flex
          justify-between
          gap-6
          p-12'
      >
        <div class='w-1/4 max-w-1/4 my-auto text-left'>
          <h5
            class='h5-category font-bold text-base-content animate-slideLeftAndFade initial'
          >
            Expertise:
          </h5>
          <p
            class='p-detail whitespace-nowrap text-accent animate-fadeIn secondary'
          >
            {expertise}
          </p>
        </div>
        <div class='flex flex-col items-center w-full'>
          <Image src={avatar} alt='' />
        </div>
        <div class='flex flex-col px-3 my-auto'>
          <strong
            class='h5-category text-left pr-2 text-base-content animate-slideRightAndFade initial'
            >Experience:</strong
          >
          <!-- https://css-tricks.com/animating-number-counters/ -->
          <div class='flex gap-x-3 animate-fadeIn secondary'>
            <div
              class='border-4 border-secondary-content text-accent rounded-full w-14 h-14 md:w-20 md:h-20 flex justify-center items-center shadow-sm shadow-accent'
            >
              <p
                id='yrs-working-text'
                class='h5-num font-bold'
                data-number={yrsWorking}
              >
              </p>
            </div>
            <div class='flex items-center'>
              <p class='h5-category inline -mt-4 text-base-content'>+</p>
              <p class='h5-category inline -mt-4 text-base-content'>yrs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style define:vars={{ delay1 }}>
  [data-theme="gs-dark"] .bg-grid::before {
    --gradient-base: oklch(var(--p));
  }

  .initial {
    animation-delay: calc(var(--delay1) * 1ms);
  }

  .secondary {
    animation-delay: calc(var(--delay1) * 2ms);
    animation-duration: 2.5s;
  }

  .bg-grid::before {
    --gradient-base: oklch(var(--s));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: 15px 15px;
    -webkit-mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 25%,
      rgba(0, 0, 0, 0) 75%
    );
    mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 25%,
      rgba(0, 0, 0, 0) 60%
    );
    background-size: 20px 20px;
    background-image: linear-gradient(
        to right,
        var(--gradient-base) 1.5px,
        transparent 1.5px
      ),
      linear-gradient(to bottom, var(--gradient-base) 1.5px, transparent 1.5px);
  }

  .h5-category {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
  .p-detail {
    font-size: clamp(1rem, 1vw, 1.25rem);
  }
  .h5-num {
    font-size: clamp(2rem, 1.75vw, 2.25rem);
  }
</style>

<style>
  /* @SEE: https://css-tricks.com/animating-number-counters/ */
  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  #yrs-working-text {
    animation: counter 2.5s forwards ease-in-out;
    animation-iteration-count: 1;
    counter-reset: num var(--num);
  }
  #yrs-working-text::before {
    content: counter(num);
  }
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 12;
    }
  }
</style>
