---
import { Icon } from "astro-icon";
---

<nav
  class='shadow-lg w-full border-gray-200 dark:border-primary backdrop-filter backdrop-blur-lg fixed top-0 left-0 z-20'
>
  <div class='flex justify-between max-w-6xl mx-auto px-4'>
    <div class='flex space-x-12'>
      <div>
        <!-- Website Logo -->
        <a href='#' class='flex items-center py-4 px-2'>
          <img src='/assets/logo-64.svg' alt='Logo' class='h-8 w-8 mr-2' />
          <span class='font-semibold text-base-content text-lg'>
            G. Shah Dev
          </span>
        </a>
      </div>
      <!-- Primary Navbar items -->
      <div class='hidden md:flex items-center space-x-1'>
        <a
          href='#hero'
          class='py-4 px-2 text-lg font-semibold text-accent border-b-4 border-accent'
        >
          Home
        </a>
        <a
          href='#about'
          class='py-4 px-2 text-gray-500 text-lg font-semibold hover:text-accent'
        >
          About
        </a>
        <a
          href='#hire'
          class='py-4 px-2 text-gray-500 text-lg font-semibold hover:text-accent'
        >
          Services
        </a>
        <a
          href='#contact'
          class='py-4 px-2 text-gray-500 text-lg font-semibold hover:text-accent'
        >
          Contact Us
        </a>
      </div>
    </div>
    <!-- Secondary Navbar items -->
    <div class='hidden md:flex items-center space-x-3'>
      <!-- <a
        href=''
        class='py-2 px-2 font-medium text-accent text-base rounded hover:bg-accent hover:text-white'
      >
        Log In
      </a>
      <a
        href=''
        class='py-2 px-2 font-medium text-white text-base bg-accent rounded hover:bg-accent-focus'
      >
        Sign Up
      </a> -->
    </div>
    <!-- Mobile menu button -->
    <div class='md:hidden flex items-center'>
      <button id='mobile-menu-button' class='outline-none'>
        <Icon name='ph:list-bold' />
      </button>
    </div>
  </div>
  <!-- mobile menu -->
  <div id='mobile-menu' class='hidden'>
    <ul class=''>
      <li class='active'>
        <a
          href='#about'
          class='block text-sm px-2 py-4 text-white font-semibold bg-accent'
        >
          About
        </a>
      </li>
      <li>
        <a href='#services' class='block text-sm px-2 py-4'>Services</a>
      </li>
      <li>
        <a href='#contact' class='block text-sm px-2 py-4'>Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<style>
  a {
    transition: color 300ms;
  }
  a:hover {
    color: var(--accent);
  }
  #mobile-menu a:hover {
    background: oklch(var(--a));
  }
  #mobile-menu li:has(.active) a {
    background: oklch(var(--a));
  }
  [astro-icon] {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-gray-500);
  }
  #mobile-menu-button [astro-icon]:hover {
    color: oklch(var(--a));
  }
</style>
<script>
  const btn = document.querySelector("#mobile-menu-button");
  const menu = document.querySelector("#mobile-menu");
  if (btn || menu) {
    btn?.addEventListener("click", () => {
      menu?.classList.toggle("hidden");
    });
  }
</script>
