---
import ServiceCard from "./ServiceCard.astro";
interface ServiceProps {
  intro: string;
  section: string;
  selected?: boolean;
  services: ServiceCardProps[];
}
const { intro, section, selected, services } = Astro.props;
---

<div
  data-section={section}
  class:list={["peer mx-auto py-6", selected ? "" : "hidden"]}
>
  <div
    class='flex flex-col md:flex-row items-center md:items-start w-full max-w-3xl lg:max-w-6xl animate-fadeIn'
  >
    <div class='w-full md:max-w-smd p-4 animate-fadeIn'>
      {
        typeof intro === "object" ? (
          intro.map((p: string) => {
            return (
              <p class='text-secondary-content text-left pl-6 leading-loose mb-6'>
                {p}
              </p>
            );
          })
        ) : (
          <p class='text-secondary-content text-left pl-6'>{intro}</p>
        )
      }
    </div>
    <div
      class='w-full md:w-1/2 flex flex-col items-center justify-center mx-auto gap-y-3 animate-fadeIn'
    >
      {
        services &&
          services.length &&
          services.map((service: ServiceCardProps) => (
            <ServiceCard {...service} />
          ))
      }
    </div>
  </div>
  <slot />
</div>
