---
import Themes from "astro-themes";
import ThemeIcon from "../components/ThemeIcon.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <Themes defaultTheme='light' />
    <script
      src='https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js'
    ></script>

    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='font-sans'>
    <Navbar />
    <ThemeIcon />
    <slot />
  </body>
</html>
